---
layout: base
---

{% include header.html type="page" %}
<font size="5em" color="black">
<B>Original fake speech samples</B> - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{0}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{0}" title="\large G_{0}" /></a><br>
</font>

<font size="4em" color="black">
MELGAN <br>
</font>
<audio controls src="G0/93.wav" type="wav" ></audio>
<audio controls src="G0/95.wav" type="wav" ></audio>
<audio controls src="G0/96.wav" type="wav" ></audio> <br>

<font size="4em" color="black">
WAVEGAN <br>
</font>
<audio controls src="G0_WG/0.wav" type="wav" ></audio>
<audio controls src="G0_WG/1.wav" type="wav" ></audio>
<audio controls src="G0_WG/4.wav" type="wav" ></audio> <br>

<font size="5em" color="black">
<B>Fake speech samples from user-end models</B> - <img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}" title="\large G_{\phi}" /><br>
<font size="4em" color="black">
MELGAN - Non-robust version  <br>
</font>
<audio controls src="user_end_models/93.wav" type="wav" ></audio>
<audio controls src="user_end_models/95.wav" type="wav" ></audio>
<audio controls src="user_end_models/96.wav" type="wav" ></audio> <br>

<font size="4em" color="black">
WAVEGAN - Non-robust version  <br>
</font>  
<audio controls src="non_robust_wg/0.wav" type="wav" ></audio>
<audio controls src="non_robust_wg/1.wav" type="wav" ></audio>
<audio controls src="non_robust_wg/4.wav" type="wav" ></audio> <br>
  
<font size="5em" color="black">
<B>Post-processed original fake speech samples</B> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <B>Robust Training against adversarial post-processes</B> <br>
</font>
<font size="4em" color="black">
Noise <br>
MELGAN - Robust version - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a>  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  MELGAN - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust/93.wav" type="wav" ></audio>
<audio controls src="robust/95.wav" type="wav" ></audio>
<audio controls src="robust/96.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Noise/93.wav" type="wav" ></audio>
<audio controls src="Noise/95.wav" type="wav" ></audio>
<audio controls src="Noise/96.wav" type="wav" ></audio> <br>

<font size="4em" color="black">
WAVEGAN - Robust version - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; WAVEGAN - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_wg/0.wav" type="wav" ></audio>
<audio controls src="robust_wg/1.wav" type="wav" ></audio>
<audio controls src="robust_wg/4.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Noise_wg/0.wav" type="wav" ></audio>
<audio controls src="Noise_wg/1.wav" type="wav" ></audio>
<audio controls src="Noise_wg/4.wav" type="wav" ></audio> <br>

<font size="4em" color="black">
MELGAN - Robust version(Gain) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  MELGAN - Gain - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_gain/93.wav" type="wav" ></audio>
<audio controls src="robust_gain/95.wav" type="wav" ></audio>
<audio controls src="robust_gain/96.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Gain/93.wav" type="wav" ></audio>
<audio controls src="Gain/95.wav" type="wav" ></audio>
<audio controls src="Gain/96.wav" type="wav" ></audio> <br>

<font size="4em" color="black">
WAVEGAN - Robust version(Gain) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; WAVEGAN - Gain - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_wg_gain/0.wav" type="wav" ></audio>
<audio controls src="robust_wg_gain/1.wav" type="wav" ></audio>
<audio controls src="robust_wg_gain/4.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Gain_wg/0.wav" type="wav" ></audio>
<audio controls src="Gain_wg/1.wav" type="wav" ></audio>
<audio controls src="Gain_wg/4.wav" type="wav" ></audio> <br>
  
<font size="4em" color="black">
MELGAN - Robust version(Speed) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  MELGAN - Speed - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_speed/93.wav" type="wav" ></audio>
<audio controls src="robust_speed/95.wav" type="wav" ></audio>
<audio controls src="robust_speed/96.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Speed/93.wav" type="wav" ></audio>
<audio controls src="Speed/95.wav" type="wav" ></audio>
<audio controls src="Speed/96.wav" type="wav" ></audio>  <br>

<font size="4em" color="black">
WAVEGAN - Robust version(Speed) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; WAVEGAN - Speed - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_wg_speed/0.wav" type="wav" ></audio>
<audio controls src="robust_wg_speed/1.wav" type="wav" ></audio>
<audio controls src="robust_wg_speed/4.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Speed_wg/0.wav" type="wav" ></audio>
<audio controls src="Speed_wg/1.wav" type="wav" ></audio>
<audio controls src="Speed_wg/4.wav" type="wav" ></audio> <br>
  
<font size="4em" color="black">
MELGAN - Robust version(Combined Passfilter) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;  MELGAN - Combined Passfilter - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_passfilter/93.wav" type="wav" ></audio>
<audio controls src="robust_passfilter/95.wav" type="wav" ></audio>
<audio controls src="robust_passfilter/96.wav" type="wav" ></audio> &emsp;&emsp; 
<audio controls src="Passfilter/93.wav" type="wav" ></audio>
<audio controls src="Passfilter/95.wav" type="wav" ></audio>
<audio controls src="Passfilter/96.wav" type="wav" ></audio>  <br>
  
<font size="4em" color="black">
WAVEGAN - Robust version(Combined Passfilter) - <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;G_{\phi}^{R}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\large&space;G_{\phi}^{R}" title="\large G_{\phi}^{R}" /></a> &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; WAVEGAN - Combined Passfilter - <img src="https://latex.codecogs.com/gif.latex?\large&space;T(G_{0})" title="\large T(G_{0})" /> <br>
</font>
<audio controls src="robust_wg_passfilter/0.wav" type="wav" ></audio>
<audio controls src="robust_wg_passfilter/1.wav" type="wav" ></audio>
<audio controls src="robust_wg_passfilter/4.wav" type="wav" ></audio> &emsp;&emsp;
<audio controls src="Passfilter_wg/0.wav" type="wav" ></audio> 
<audio controls src="Passfilter_wg/1.wav" type="wav" ></audio>
<audio controls src="Passfilter_wg/4.wav" type="wav" ></audio> <br>


<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</div>
